.ranking-cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2vw;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

.card {
  height:100%;
  background-color: white;
  padding: 0.75rem;
  border-radius: 0.5rem;
  position: relative;
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
  box-shadow:0 1px 3px rgb(149 157 165 / 20%)
}

.card:hover{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  cursor: pointer;
}

.rank-number {
  position: absolute;
  top: -20px;
  right: -20px;
  z-index: 2;
}

.card-img {
  border-radius: 0.35rem;
}

.play-icon {
  position: relative;
  left: 0;
  top: -20px;
  margin-top: -35px;
  font-size: 50px;
  border-radius: 50%;
  background-color: white;
  color: var(--main-color);
}

.play-icon:hover {
  color: var(--main-color-darken) !important;
}

.card-name {
  margin: 0.25rem 0;
}

.card-description {
  margin: 0;
  font-size: 0.7rem;
  opacity: 0.5;
}

.list-index {
  margin-right: 0.5rem;
  width: 20px;
}

.list-index+svg{
  margin-right: 0.6rem;
  z-index: 2;
}

.nested-links {
  position: relative;
  pointer-events: all;
  display: flex;
}

.stretched-link {
  display: flex;
  align-items: center;
  flex: 1;
}

.stretched-link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  content: '';
}