.album-detail-page-wrapper {
  margin: 6vw calc(3vw + 5px) 0 0;
  background: white;
  border-radius: 0 3vw 0 0;
  height: calc(100% - 6vw);
}

.album-header-wrapper {
  display: flex;
  padding: 2rem 2vw 10px;
}

@media screen and (max-width: 686px) {
  .album-header-wrapper {
    display: block;
  }

  .album-header-wrapper img {
    margin-left: 1rem;
  }
}

.flex-1 {
  flex: 1;
}

.album-logo {
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
  font-size: 8vw;
  line-height: 0.76;
}

.character-list-wrapper {
  margin: 0 4vw 1.5rem 2vw;
}
