* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--basic-font-color);
}

body {
  display: flex;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --basic-font-color: #4c4c4c;
  --main-color: #ffc30b;
  --aside-width: 30%;
}