* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --basic-font-color: #4c4c4c;
  --main-color: #ffc30b;
  --main-color-lighten: #ffd146;
  /* --main-color-darken: #ffba00; */
  --main-color-darken: #f0b400;
  --aside-width: 25%;

  --footer-height: 80px;
  --footer-bg-color: #121212;
  --fg-color: #fff;
  --is-active-fg-color: var(--main-color);
  --progress-width: 0;
  --progress-bar-height: 4px;
  --progress-bar-radius: calc(var(--progress-bar-height) / 2);
  --buffered-width: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--basic-font-color);
}

body {
  display: flex;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

.Mui-disabled {
  color: var(--main-color) !important;
  pointer-events: auto !important;
}

.main {
  flex: 1;
  margin-bottom: var(--footer-height);
}

.title-h2 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

.normal-h2-skeleton {
  font-size: 36px;
  margin-bottom: 5px;
}

.title-h3 {
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
}

.title-h4 {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.margin-right-little {
  margin-right: 0.8rem;
}

.main-contents-wrapper {
  margin: 4vw 2vw 4vw 3vw;
}

.character-icon {
  border-radius: 10px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.tooltip-top {
  display: inline-block;
  position: relative;
}

.tooltip-top > div {
  cursor: pointer;
}

.tooltip-top > span {
  display: flex;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5em 1em;
  border-radius: 3px;
  background-color: #4c4c4c;
  color: #ffffff;
  font-size: 0.7em;
  white-space: nowrap;
  transition: opacity 0.3s;
}

.tooltip-top > span::before {
  position: absolute;
  bottom: -6px;
  width: 9px;
  height: 6px;
  background-color: inherit;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  content: "";
}

.tooltip-top:hover > span {
  visibility: visible;
  opacity: 1;
}

.MuiSvgIcon-root[data-testid="PlayCircleIcon"]:hover {
  color: rgb(50, 50, 50);
}

@keyframes animation-c7515d {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

.skeleton {
  display: block;
  background-color: rgba(0, 0, 0, 0.11);
  -webkit-animation: animation-c7515d 2s ease-in-out 0.5s infinite;
  height: 1.2em;
  animation: animation-c7515d 2s ease-in-out 0.5s infinite;
}

.skeleton-text {
  display: block;
  background-color: rgba(0, 0, 0, 0.11);
  height: auto;
  transform-origin: 0 55%;
  /* -webkit-transform: scale(1, 0.6);
  -moz-transform: scale(1, 0.6);
  -ms-transform: scale(1, 0.6);
  transform: scale(1, 0.6); */
  border-radius: 4px/6.7px;
  -webkit-animation: animation-c7515d 2s ease-in-out 0.5s infinite;
  animation: animation-c7515d 2s ease-in-out 0.5s infinite;
}

.skeleton-text:empty::before {
  content: "\00a0";
}

.list-skeleton-300 {
  width: 100%;
  height: 300px;
}

.list-skeleton-350 {
  width: 100%;
  height: 350px;
}

.list-skeleton-500 {
  width: 100%;
  height: 500px;
}

.skeleton-margin {
  margin: 1rem 2vw 4vw;
}

/* Spinner */
.half-circle-spinner,
.half-circle-spinner * {
  box-sizing: border-box;
}

.half-circle-spinner {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  position: relative;
  margin: 35vw auto;
}

.small-circle-spinner {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  position: relative;
}

.small-circle-spinner .circle,
.half-circle-spinner .circle {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.half-circle-spinner .circle {
  border: calc(60px / 10) solid transparent;
}

.small-circle-spinner .circle {
  border: calc(20px / 10) solid transparent;
}

.small-circle-spinner .circle.circle-1,
.half-circle-spinner .circle.circle-1 {
  border-top-color: var(--main-color);
  animation: half-circle-spinner-animation 1s infinite;
}

.small-circle-spinner .circle.circle-2,
.half-circle-spinner .circle.circle-2 {
  border-bottom-color: var(--main-color);
  animation: half-circle-spinner-animation 1s infinite alternate;
}

@keyframes half-circle-spinner-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Aside Search Input */
.MuiAutocomplete-root {
  background: white;
  margin: 0 1.5vw;
  border-radius: 2rem;
}

.MuiInputBase-root {
  border-radius: 2rem;
}

.MuiFormLabel-colorPrimary.Mui-focused {
  color: var(--main-color);
}

.MuiInputBase-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: var(--main-color);
}

.MuiInputLabel-outlined {
  color: #b3b3b3;
}

/* Aside Accordion */
summary {
  /* display: list-item;以外を指定してデフォルトの三角形アイコンを消します */
  display: block;
}

summary::-webkit-details-marker {
  /* Safariで表示されるデフォルトの三角形アイコンを消します */
  display: none;
}

.summary-inner {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 2vw;
}

/* --------アイコンを作ります-------- */
.summary-icon {
  display: block;
  position: relative;
  width: 24px;
  margin-left: 6px;
  flex-shrink: 0;
  transform-origin: center 43%;
  transition: transform 0.4s;
}

/* アコーディオンが開いた時のスタイル */
details[open] .summary-icon {
  transform: rotate(180deg);
}

/* アイコンのバーのスタイル */
.summary-icon::before,
.summary-icon::after {
  content: "";
  position: absolute;
  display: block;
  width: 15px;
  height: 3px;
  background-color: var(--main-color);
}

.summary-icon::before {
  left: 0;
  transform: rotate(45deg);
}

.summary-icon::after {
  right: 0;
  transform: rotate(-45deg);
}

/* アコーディオンが開いた時にアイコンをアニメーションさせます */
details[open] .summary_inner::after {
  animation: 0.4s toggle forwards;
}

@keyframes toggle {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }
}

details[open] summary ~ * {
  animation: open-animation 0.4s ease-in-out;
}

@keyframes open-animation {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* track control button */
.control-track-button {
  margin-right: 0.8rem;
  z-index: 2;
  background-color: transparent !important;
  color: currentColor;
  padding: 0;
}

.ranking-track-button {
  position: relative;
  left: -2px;
  top: -20px;
  margin-top: -35px;
  font-size: 50px;
  border-radius: 50%;
  background-color: white;
  color: var(--main-color);
}

.ranking-track-button:hover {
  color: var(--main-color-darken) !important;
}

.track-card-play-button {
  font-size: 2.1875rem;
}

/* Footer */
footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background: var(--footer-bg-color);
  height: auto;
  z-index: 999;
}

.audio-player-wrapper {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: space-between;
  height: var(--footer-height);
}

/* Left side */
.song-info-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  padding-inline-start: 12px;
  -webkit-padding-start: 12px;
  min-width: 180px;
  width: 30%;
}

.song-title-container {
  flex: 1;
}

.song-title {
  font-weight: bold;
  color: var(--fg-color);
}

.sub-text {
  margin-block: 0px;
  font-size: 0.6875rem;
  font-weight: 400;
  color: #b3b3b3;
}

/* Center side */
.player-control-container {
  max-width: 722px;
  width: 40%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}

.control-icon {
  font-size: 32px;
  color: white;
}

.control-icon:not(.disabled-icon):hover {
  color: white !important;
}

.disabled-icon {
  color: rgb(50, 50, 50);
}

.control-icon-button {
  padding: 0;
}

.playback-bar-container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 8px;
  justify-content: space-between;
  width: 100%;
}

.progress-time-elapsed {
  min-width: 40px;
  text-align: right;
}

.progress-time-duration {
  min-width: 40px;
  text-align: left;
}

.progress-bar-container {
  flex: 1;
  width: 100%;
}

.progress-bar {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  accent-color: var(--main-color);
  cursor: pointer;
  position: relative;
  top: -2px;
}

.progress-bar::-webkit-slider-thumb {
  z-index: 4;
  position: relative;
}

.progress-bar::before {
  content: "";
  transform: scaleX(var(--progress-width));
  z-index: 3;
  background-color: var(--main-color);
  transform-origin: left;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

/* Right side */
.volume-control-container {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: flex-end;
  min-width: 180px;
  width: 30%;
  padding-inline-end: 12px;
  -webkit-padding-end: 12px;
}

.volume-icon {
  font-size: 24px;
  margin-top: 2px;
}

.volume-bar {
  flex: 1;
  max-width: 120px;
}

.input-range {
  width: 100%;
  vertical-align: middle;
  -webkit-appearance: none;
  appearance: none;
}

.input-range::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  appearance: none;
  height: var(--progress-bar-height);
  background: var(--fg-color);
  border-radius: var(--progress-bar-radius);
  border: none;
}

.input-range::-webkit-slider-thumb {
  border: none;
  border-radius: 50%;
  background: var(--main-color);
  margin-top: -6px;
}

.input-range:focus {
  outline: none;
}

.input-range:focus::-webkit-slider-runnable-track {
  background: var(--fg-color);
}
